<!DOCTYPE html>
<!-- Created By CodingLab - www.codinglabweb.com -->
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <!---<title> Responsive Our Team Section | CodingLab </title>---->
    <link rel="stylesheet" href="/styles/base.css">
    <link rel="stylesheet" href="/styles/doctors.css">
    <!-- Fontawesome CDN Link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
<body>
    <%- include("includes/navbar") %> 







  <div class="container">
    <input type="radio" name="dot" id="one">
    <input type="radio" name="dot" id="two">
    <div class="main-card">
      <div class="cards">
        <div class="card">
         <div class="content">
           <div class="img">
            - <img src="/images/m1.webp" alt="">
           </div>
           <div class="details">
             <div class="name">Andrew Neil</div>
             <div class="job">physiologist</div>
             <div class="know-more">
                <a href="#"><button>Know More</button></a>
             </div>
           </div>
           <div class="media-icons">
             <a href="#"><i class="fab fa-facebook-f"></i></a>
             <a href="#"><i class="fab fa-twitter"></i></a>
             <a href="#"><i class="fab fa-instagram"></i></a>
             <a href="#"><i class="fab fa-youtube"></i></a>
           </div>
         </div>
        </div>
        <div class="card">
         <div class="content">
           <div class="img">
            - <img src="/images/w1.jpg" alt="">-
           </div>
           <div class="details">
             <div class="name">Jasmine Carter</div>
             <div class="job">physiologist</div>
             <div class="know-more">
                <a href="#"><button>Know More</button></a>
             </div>
           </div>
           <div class="media-icons">
             <a href="#"><i class="fab fa-facebook-f"></i></a>
             <a href="#"><i class="fab fa-twitter"></i></a>
             <a href="#"><i class="fab fa-instagram"></i></a>
             <a href="#"><i class="fab fa-youtube"></i></a>
           </div>
         </div>
        </div>
        <div class="card">
         <div class="content">
           <div class="img">
            <img src="/images/m2.webp" alt="">--
           </div>
           <div class="details">
             <div class="name">Justin Chung</div>
             <div class="job">physiologist</div>
             <div class="know-more">
                <a href="#"><button>Know More</button></a>
             </div>
           </div>
           <div class="media-icons">
             <a href="#"><i class="fab fa-facebook-f"></i></a>
             <a href="#"><i class="fab fa-twitter"></i></a>
             <a href="#"><i class="fab fa-instagram"></i></a>
             <a href="#"><i class="fab fa-youtube"></i></a>
           </div>
         </div>
        </div>
      </div>
      <div class="cards">
        <div class="card">
         <div class="content">
           <div class="img">
             -<img src="/images/w2.jpg" alt="">-
           </div>
           <div class="details">
             <div class="name">Appolo Reef</div>
             <div class="job">physiologist</div>
             <div class="know-more">
                <a href="#"><button>Know More</button></a>
             </div>
           </div>
           <div class="media-icons">
             <a href="#"><i class="fab fa-facebook-f"></i></a>
             <a href="#"><i class="fab fa-twitter"></i></a>
             <a href="#"><i class="fab fa-instagram"></i></a>
             <a href="#"><i class="fab fa-youtube"></i></a>
           </div>
         </div>
        </div>
        <div class="card">
         <div class="content">
           <div class="img">
             <img src="/images/w3.jpg" alt="">--
           </div>
           <div class="details">
             <div class="name">Adrina Calvo</div>
             <div class="job">physiologist</div>
             <div class="know-more">
                <a href="#"><button>Know More</button></a>
             </div>
             
           </div>
           <div class="media-icons">
             <a href="#"><i class="fab fa-facebook-f"></i></a>
             <a href="#"><i class="fab fa-twitter"></i></a>
             <a href="#"><i class="fab fa-instagram"></i></a>
             <a href="#"><i class="fab fa-youtube"></i></a>
           </div>
         </div>
        </div>
        <div class="card">
         <div class="content">
           <div class="img">
             <img src="/images/m3.jpg" alt="">-
           </div>
           <div class="details">
             <div class="name">Nicole Lewis</div>
             <div class="job">physiologist</div>
             <div class="know-more">
                <a href="#"><button>Know More</button></a>
             </div>
           </div>
           <div class="media-icons">
             <a href="#"><i class="fab fa-facebook-f"></i></a>
             <a href="#"><i class="fab fa-twitter"></i></a>
             <a href="#"><i class="fab fa-instagram"></i></a>
             <a href="#"><i class="fab fa-youtube"></i></a>
           </div>
         </div>
        </div>
      </div>
    </div>
    <div class="button">
      <label for="one" class=" active one"></label>
      <label for="two" class="two"></label>
    </div>
  </div>
</body>
</html>
