<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post Page</title>
    <!-- link to blog css -->
    <link rel="stylesheet" href="/styles/base.css">
    <link rel="stylesheet" href="/styles/stories.css">
    <!-- 
    link to boxicons
     -->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <%- include("includes/navbar") %> 
    <!-- header -->
  <section class="post-header">
    <div class="header-content post-container">
        <a href="/stories" class="back-home">Back to Stories</a>

        <h1 class="header-title">Lorem ipsum dolor sit amet.</h1>

        <img src="/images/p2.webp" alt="" class="header-img">
    </div>
  </section>
    <!-- filtering posts -->
   
    <section class=" post-content post-container">
        <h2 class="sub-heading">Lorem ipsum dolor sit amet consectetur adipisicing.</h2>
        <!-- post 1 -->
        <p class="post-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum explicabo eveniet nihil deleniti rem veniam, assumenda minus tempora deserunt, tenetur voluptas praesentium quas animi consequuntur sit eum labore a quisquam et quidem mollitia in! Optio deleniti eaque commodi temporibus accusantium? Sapiente sit dignissimos fugiat facilis commodi laborum beatae pariatur eius!</p>
        <p class="post-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum explicabo eveniet nihil deleniti rem veniam, assumenda minus tempora deserunt, tenetur voluptas praesentium quas animi consequuntur sit eum labore a quisquam et quidem mollitia in! Optio deleniti eaque commodi temporibus accusantium? Sapiente sit dignissimos fugiat facilis commodi laborum beatae pariatur eius!</p>
       
        <h2 class="sub-heading">Lorem ipsum dolor sit amet consectetur adipisicing.</h2>
        <!-- post 1 -->
        <p class="post-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum explicabo eveniet nihil deleniti rem veniam, assumenda minus tempora deserunt, tenetur voluptas praesentium quas animi consequuntur sit eum labore a quisquam et quidem mollitia in! Optio deleniti eaque commodi temporibus accusantium? Sapiente sit dignissimos fugiat facilis commodi laborum beatae pariatur eius!</p>
        <p class="post-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum explicabo eveniet nihil deleniti rem veniam, assumenda minus tempora deserunt, tenetur voluptas praesentium quas animi consequuntur sit eum labore a quisquam et quidem mollitia in! Optio deleniti eaque commodi temporibus accusantium? Sapiente sit dignissimos fugiat facilis commodi laborum beatae pariatur eius!</p>
        <p class="post-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum explicabo eveniet nihil deleniti rem veniam, assumenda minus tempora deserunt, tenetur voluptas praesentium quas animi consequuntur sit eum labore a quisquam et quidem mollitia in! Optio deleniti eaque commodi temporibus accusantium? Sapiente sit dignissimos fugiat facilis commodi laborum beatae pariatur eius!</p>
        <p class="post-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum explicabo eveniet nihil deleniti rem veniam, assumenda minus tempora deserunt, tenetur voluptas praesentium quas animi consequuntur sit eum labore a quisquam et quidem mollitia in! Optio deleniti eaque commodi temporibus accusantium? Sapiente sit dignissimos fugiat facilis commodi laborum beatae pariatur eius!</p>
       


    </section>

    <div class="share post-container">
        <span class="share-title">
            Share This Article
            <div class="social">
                <a href="#"><i class='bx bxl-facebook'></i></a>
                <a href="#"><i class='bx bxl-twitter'></i></a>
                <a href="#"><i class='bx bxl-instagram'></i></a>
                <a href="#"><i class='bx bxl-linkedin'></i></a>
            </div>
        </span>
    </div>
    <div class="footer container">
        <p>&#169;THECALMWAY All Right Reserved</p>
        <div class="social">
            <a href="#"><i class='bx bxl-facebook'></i></a>
            <a href="#"><i class='bx bxl-twitter'></i></a>
            <a href="#"><i class='bx bxl-instagram'></i></a>
            <a href="#"><i class='bx bxl-linkedin'></i></a>
        </div>
    </div>
   



<!-- link to jquery -->
<script src="https://code.jquery.com/jquery-3.6.1.js" integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI=" crossorigin="anonymous"></script>

    <!-- link to js -->
    <script src="/scripts/blog.js"></script>
</body>
</html>