<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stories</title>
    <!-- link to blog css -->
    <link rel="stylesheet" href="/styles/base.css">
    <link rel="stylesheet" href="/styles/stories.css">
    <!-- 
    link to boxicons
     -->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

    <script src="/scripts/stories.js"></script>i
</head>
<body>
    <%- include("includes/navbar") %> 

    <section class="home" id="home">


        <div class="home-text container">
           
            <h2 class="home-title">
                HAPPY STORIES
            </h2>
            <span class="home-subtitle">Read and Recover</span>
        </div>
    </section>
    <!-- filtering posts -->
    <div class="post-filter container">
        <span class="filter-item active-filter" data-filter="all">All</span>
        <span class="filter-item " data-filter="students">Students</span>
        <span class="filter-item " data-filter="couples">Couples</span>
        <span class="filter-item " data-filter="working">Working</span>
        <span class="filter-item " data-filter="bullying">Bullying</span>

       
    </div>
    <section class="post container">
        <!-- post 1 -->
        <div class="post-box students">
            <img src="/images/p1.jpg" alt="" class="post-img">
            <h2 class="category">Students</h2>
            <a href="/post-page" class="post-title">
                Lorem ipsum dolor sit amet.
            </a>
            <span class="post-date">6 Oct 2022</span>
            <p class="post-decription">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti consequatur unde quasi atque placeat expedita, quam officia quia consectetur temporibus ipsam voluptas eum necessitatibus voluptate.</p>
<div class="profile">
    <img src="/images/pp2.jpg" alt="" class="profile-img">
    <span class="profile-name">Jolly Wood</span>
</div>
        </div>

<!-- post2 -->


<div class="post-box couples">
    <img src="/images/p2.webp" alt="" class="post-img">
    <h2 class="category">Couples</h2>
    <a href="/post-page" class="post-title">
        Lorem ipsum dolor sit amet.
    </a>
    <span class="post-date">6 Oct 2022</span>
    <p class="post-decription">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti consequatur unde quasi atque placeat expedita, quam officia quia consectetur temporibus ipsam voluptas eum necessitatibus voluptate.</p>
<div class="profile">
<img src="/images/pp1.jpg" alt="" class="profile-img">
<span class="profile-name">Mohan Iyer</span>
</div>
</div>


<!-- post3 -->
<div class="post-box working">
    <img src="/images/p3.jpg" alt="" class="post-img">
    <h2 class="category">Working</h2>
    <a href="/post-page" class="post-title">
        Lorem ipsum dolor sit amet.
    </a>
    <span class="post-date">6 Oct 2022</span>
    <p class="post-decription">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti consequatur unde quasi atque placeat expedita, quam officia quia consectetur temporibus ipsam voluptas eum necessitatibus voluptate.</p>
<div class="profile">
<img src="/images/pp3.jpg" alt="" class="profile-img">
<span class="profile-name">Angelina Stew</span>
</div>
</div>


<div class="post-box bullying">
    <img src="/images/p4.jpg" alt="" class="post-img">
    <h2 class="category">Bullying</h2>
    <a href="/post-page" class="post-title">
        Lorem ipsum dolor sit amet.
    </a>
    <span class="post-date">6 Oct 2022</span>
    <p class="post-decription">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti consequatur unde quasi atque placeat expedita, quam officia quia consectetur temporibus ipsam voluptas eum necessitatibus voluptate.</p>
<div class="profile">
<img src="/images/pp4.jpg" alt="" class="profile-img">
<span class="profile-name">Jolly Bieber</span>
</div>
</div>

<!-- repeat -->

<div class="post-box students">
    <img src="/images/p5.jpg" alt="" class="post-img">
    <h2 class="category">Students</h2>
    <a href="/post-page" class="post-title">
        Lorem ipsum dolor sit amet.
    </a>
    <span class="post-date">6 Oct 2022</span>
    <p class="post-decription">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti consequatur unde quasi atque placeat expedita, quam officia quia consectetur temporibus ipsam voluptas eum necessitatibus voluptate.</p>
<div class="profile">
<img src="/images/pp2.jpg" alt="" class="profile-img">
<span class="profile-name">Jolly Wood</span>
</div>
</div>

<!-- post2 -->


<div class="post-box couples">
<img src="/images/p6.jpg" alt="" class="post-img">
<h2 class="category">Couples</h2>
<a href="/post-page" class="post-title">
Lorem ipsum dolor sit amet.
</a>
<span class="post-date">6 Oct 2022</span>
<p class="post-decription">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti consequatur unde quasi atque placeat expedita, quam officia quia consectetur temporibus ipsam voluptas eum necessitatibus voluptate.</p>
<div class="profile">
<img src="/images/pp1.jpg" alt="" class="profile-img">
<span class="profile-name">Mohan Iyer</span>
</div>
</div>


<!-- post3 -->
<div class="post-box working">
<img src="/images/p7.jpg" alt="" class="post-img">
<h2 class="category">Working</h2>
<a href="/post-page" class="post-title">
Lorem ipsum dolor sit amet.
</a>
<span class="post-date">6 Oct 2022</span>
<p class="post-decription">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti consequatur unde quasi atque placeat expedita, quam officia quia consectetur temporibus ipsam voluptas eum necessitatibus voluptate.</p>
<div class="profile">
<img src="/images/pp3.jpg" alt="" class="profile-img">
<span class="profile-name">Angelina Stew</span>
</div>
</div>


<div class="post-box bullying">
<img src="/images/p8.jpg" alt="" class="post-img">
<h2 class="category">Bullying</h2>
<a href="/post-page" class="post-title">
Lorem ipsum dolor sit amet.
</a>
<span class="post-date">6 Oct 2022</span>
<p class="post-decription">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti consequatur unde quasi atque placeat expedita, quam officia quia consectetur temporibus ipsam voluptas eum necessitatibus voluptate.</p>
<div class="profile">
<img src="/images/pp4.jpg" alt="" class="profile-img">
<span class="profile-name">Jolly Bieber</span>
</div>
</div>

<!-- repeat 2 -->

<div class="post-box students">
    <img src="/images/p1.jpg" alt="" class="post-img">
    <h2 class="category">Students</h2>
    <a href="/post-page" class="post-title">
        Lorem ipsum dolor sit amet.
    </a>
    <span class="post-date">6 Oct 2022</span>
    <p class="post-decription">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti consequatur unde quasi atque placeat expedita, quam officia quia consectetur temporibus ipsam voluptas eum necessitatibus voluptate.</p>
<div class="profile">
<img src="/images/pp2.jpg" alt="" class="profile-img">
<span class="profile-name">Jolly Wood</span>
</div>
</div>

<!-- post2 -->


<div class="post-box couples">
<img src="/images/p2.webp" alt="" class="post-img">
<h2 class="category">Couples</h2>
<a href="/post-page" class="post-title">
Lorem ipsum dolor sit amet.
</a>
<span class="post-date">6 Oct 2022</span>
<p class="post-decription">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti consequatur unde quasi atque placeat expedita, quam officia quia consectetur temporibus ipsam voluptas eum necessitatibus voluptate.</p>
<div class="profile">
<img src="/images/pp1.jpg" alt="" class="profile-img">
<span class="profile-name">Mohan Iyer</span>
</div>
</div>


<!-- post3 -->
<div class="post-box working">
<img src="/images/p3.jpg" alt="" class="post-img">
<h2 class="category">Working</h2>
<a href="/post-page" class="post-title">
Lorem ipsum dolor sit amet.
</a>
<span class="post-date">6 Oct 2022</span>
<p class="post-decription">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti consequatur unde quasi atque placeat expedita, quam officia quia consectetur temporibus ipsam voluptas eum necessitatibus voluptate.</p>
<div class="profile">
<img src="/images/pp3.jpg" alt="" class="profile-img">
<span class="profile-name">Angelina Stew</span>
</div>
</div>


<div class="post-box bullying">
<img src="/images/p4.jpg" alt="" class="post-img">
<h2 class="category">Bullying</h2>
<a href="/post-page" class="post-title">
Lorem ipsum dolor sit amet.
</a>
<span class="post-date">6 Oct 2022</span>
<p class="post-decription">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti consequatur unde quasi atque placeat expedita, quam officia quia consectetur temporibus ipsam voluptas eum necessitatibus voluptate.</p>
<div class="profile">
<img src="/images/pp4.jpg" alt="" class="profile-img">
<span class="profile-name">Jolly Bieber</span>
</div>
</div>



    </section>
    <div class="footer container">
        <p>&#169;THECALMWAY All Right Reserved</p>
        <div class="social">
            <a href="#"><i class='bx bxl-facebook'></i></a>
            <a href="#"><i class='bx bxl-twitter'></i></a>
            <a href="#"><i class='bx bxl-instagram'></i></a>
            <a href="#"><i class='bx bxl-linkedin'></i></a>
        </div>
    </div>
   



<!-- link to jquery -->
<script src="https://code.jquery.com/jquery-3.6.1.js" integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI=" crossorigin="anonymous"></script>

    <!-- link to js -->
    <script src="/styles/stories.js"></script>
</body>
</html>