@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
*{
    font-family:'Poppins',sans-serif;
    padding: 0;margin: 0;box-sizing: border-box;
    scroll-behavior: smooth;
    scroll-padding-top: 2rem;
}
:root{
    --container-color:#1a1e21
    ;
    --second-color:#fd8f44;
    --text-color:#172317;
    --logo-color:rgba(115, 178, 230, 0.878);
    --bg-color:#fff;
}
::selection{
    color:var(--bg-color);
    background:var(--second-color);
 

}
a{
    text-decoration: none;
}
li{
    list-style:none;

}
header{
    position:fixed;
    top: 0;left: 0;width: 100%;
    z-index: 200;
    background: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
    height:60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:0 28px;
}
header.shadow{
    background:var(--bg-color);
    box-shadow:0 1px 4px hsl(0 4% 14% /10%);
    
    transition:0.45s ;
}
header.shadow .logo{
    color:var(--text-color);
}
.containers{
    max-width: 1068px;
    margin:auto;
   
    width: 100%;
}
.navs{
    display: flex;
    justify-content: space-between;
    align-items:center;
    padding: 18px 0px;
}
.logos{
    font-size: 1.5rem;
    font-weight:600;
    color:var(--bg-color);
}
.logos span{
    color:var(--second-color);
}
.hamburger{
    display: none;
}
.nav-bar ul{
display:flex;
}
.nav-bar ul li a{
    display:block;
    color:#fefefe;
    font-size:16px;
    padding: 10px 18px;
    border-radius: 50px;
    transition:0.2s;
    margin:0 5px;
    font-weight:500;

}
.nav-bar ul li  a:hover{
    color:#96e6a1;
    background:#fefefe;
}

@media  screen and (max-width:1500px) {
    header{
        padding: 0px 50px;
    }
    
}

@media  screen and (max-width: 1300px) {
   header{
    padding: 0px 30px;
   }
    
}
@media  screen and (max-width: 1100px) {
  .hamburger{
    display:block;
  }
  .hamburger .line{
    width: 30px;
    height: 3px;
    background: #fefefe;
    margin: 6px 0px;

  }
  .nav-bar{
    height:0;
    position:absolute;
    top:80px;
    left: 0;right: 0;
    width:100vw;
    background: #96e6a1;
    transition: 0.2s;
    overflow: hidden;
  }
  .nav-bar.active{
    height:480px;
  }

  .nav-bar ul{
    display: block;
    width:fit-content;
    margin:80px auto 0 auto;
    text-align:center;
    transition:0.5s;
    opacity:0;

  }
  .nav-bar.active ul{
opacity:1;
  }
  .nav-bar ul li a{
    margin-bottom: 12px;
    color:#fff;
  }
  section {
    padding:3rem;
}
.heading{
    font-size:2rem;
}
    
}



body{
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  background: #c3f6db94;
  position: relative;
}
body::before{
  content: '';
  position: absolute;
  width: 100%;
  background: #95bfec;
  clip-path: inset(47% 0 0 0);
  z-index: -1;
  height: 100%;
}
::selection{
  background:	#87ab8c;
  color: #fff;
}
.container{
  max-width: 950px;
  width: 100%;
  overflow: hidden;
  padding: 80px 0;
}
.container .main-card{
  display: flex;
  justify-content: space-evenly;
  width: 200%;
  transition: 1s;
}
#two:checked ~ .main-card{
  margin-left: -100%;
}
.container .main-card .cards{
  width: calc(100% / 2 - 10px);
  display: flex;
  flex-wrap: wrap;
  margin: 0 20px;
  justify-content: space-between;
}
.main-card .cards .card{
  width: calc(100% / 3 - 10px);
  background: #fff;
  border-radius: 12px;
  padding: 30px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.341);
  transition: all 0.4s ease;
}
.main-card .cards .card:hover{
  transform: translateY(-15px);
}
.cards .card .content{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.cards .card .content .img{
  height: 130px;
  width: 130px;
  border-radius: 50%;
  padding: 3px;
  background: #3797f8;
  margin-bottom: 14px;
}
.card .content .img img{
  height: 100%;
  width: 100%;
  border: 3px solid #ffff;
  border-radius: 50%;
  object-fit: cover;
}
.card .content .name{
  font-size: 20px;
  font-weight: 500;
}
.card .content .job{
  font-size: 20px;
  color: #01d3f3;
}
.card .content .media-icons{
  margin-top: 10px;
  display: flex;

}
.media-icons a{
  text-align: center;
  line-height: 33px;
  height: 35px;
  width: 35px;
  margin: 0 4px;
  font-size: 14px;
  color: #FFF;
  border-radius: 50%;
  border: 2px solid transparent;
  background: #75bfb0;
  transition: all 0.3s ease;
}
.media-icons a:hover{
  color: #fcfcfc;
  background-color: #fff;
  border-color: #fbfbfb;
}
 .container .button{
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 20px;
}
.button label{
  height: 15px;
  width: 15px;
  border-radius: 20px;
  background: #fff;
  margin: 0 4px;
  cursor: pointer;
  transition: all 0.5s ease;
}
.button label.active{
  width: 35px;
}
#one:checked ~ .button .one{
  width: 35px;
}
#one:checked ~ .button .two{
  width: 15px;
}
#two:checked ~ .button .one{
  width: 15px;
}
#two:checked ~ .button .two{
  width: 35px;
}
input[type="radio"]{
  display: none;
}
@media (max-width: 768px) {
  .main-card .cards .card{
    margin: 20px 0 10px 0;
    width: calc(100% / 2 - 10px);
  }
}
@media (max-width: 600px) {
  .main-card .cards .card{
    /* margin: 20px 0 10px 0; */
    width: 100%;
  }
}
.details .know-more button{
    
    width:9rem;
    height: 3rem;

    display:inline-block;
   color:white;
   background-color: #3797f8;
   
}
.details .know-more{
    padding: .6rem 1rem;
}
