
section {
    padding:3rem 9%;
}

.home{
    display:flex;
    align-items:center;
    justify-content:center;
    background:url(/images/wallpapersden.com_depressed-alone_3840x2743.jpg) no-repeat ;
    background-position: center;
    background-size: cover;
    padding-top: 17rem;
    padding-bottom: 10rem;
}
.home .content .btn{
    margin-top: 1rem;
    display: inline-block;
    padding:.6rem 2rem;
    font-size:1.7rem;
    border-radius:.5rem;
    border:.2rem solid white;
    color:white;
    cursor:pointer;
}

.home .content{
    text-align:center;
    width: 60rem;
}

.home .content h3{
    color:#fefefe;
    font-size:3rem;
}
.home .content h3 span{
    color:rgb(22, 238, 238);
}
.home .content p{
    color:rgb(87, 87, 187);
    font-size:1.4rem;
    font-weight:500;
    padding:1rem 0;
    line-height:1.8;
}
.heading{
    text-align:center;
    padding:2rem 0;
    padding-bottom: 3rem;
    font-size:3.5rem;
    color:darkblue;
}

.heading span{
    background: rgb(152, 210, 101);
    color:#fff;
    display: inline-block;
    padding:.5rem 2rem;
    clip-path:polygon(100% 0,93% 50%,100% 99%, 0% 100%,7% 50% ,0 0);
}
.features .box-container{
    display: grid;
    grid-template-columns:repeat(auto-fit,minmax(25rem,1fr));
    gap:1.5rem;
}
.features .box-container .box{
    padding: 3rem 2rem;
    background:#fff;
    outline:.1rem solid rgba(0,0,0,.1);
    outline-offset: -1rem;
    text-align:center;
    box-shadow:0 .5rem 1.5rem rgba(0,0,0,.1);

}
.features .box-container .box:hover{

    outline:1rem solid rgba(0,0,0,.1);
    outline-offset:0;
}
.features .box-container .box img{
    margin:1rem 0;
    height:15rem;
    width:15rem;
}
.features .box-container .box h3{
    font-size:1.8rem;
    line-height:1.8;
    color:#172317;
    
    display:-webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow:hidden;

}
.features .box-container .box h3{
    font-size:1.8rem;
    line-height:1.8;
    color:rgb(40, 246, 167);
    padding: 1rem 0;
    
    display:-webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow:hidden;

}








